<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="Banco01.MDC.Properties.Settings.MDC_LocalDBConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Resources\MDC_LocalDB.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="MDC_LocalDBEntities" connectionString="metadata=res://*/Resources.MDC_LocalEF.csdl|res://*/Resources.MDC_LocalEF.ssdl|res://*/Resources.MDC_LocalEF.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\Resources\MDC_LocalDB.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>